html, body, .container {
	background-color: rgb(250, 191, 191);
	color: #5c122b;
}

.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 30px 30px 30px;
}

main {
	margin-top: 20px;
}

p {
	font-size: 17px;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
}

a, a:visited {
	color: #474850 !important;
	text-decoration: none !important;
}

.topControl, .inText {
	text-align: center;
}

.topControl {
	cursor: pointer;
}

#inner {
    width: 100%;
	height: 750px;
	padding: 60px 0px;
	background-color: white;
    
}

#inner div {
	margin-top: 0px;
}

#pic {
	height: 120px;
	width: 120px;	
	border: 6px solid #474850;
	border-radius: 50%;
	box-shadow: 0px 4px 3px #5B5D68;
	margin: 0 auto;
  background-size: cover;
  
}

.inText {
	margin: 10px 0px;
}

.inText > p {
	font-size: 20px;
}

.controls {
	height: 90px;
	vertical-align: middle;
}

.controls .fa {
	margin-top: 55%;
	cursor: pointer;
}

#nbResa {
	font-size: 60px;
}

.submit {
	height: 80px;
}

#submit {
	background-color: #e22b96;
	border: none;
	color: white;
	font-weight: bold;
	text-align: center;
	width: 100%;
	height: 100%;
	box-shadow: 0px 4px 3px #5B5D68;
  transition: all 0.2s ease;
}

#submit:hover {
  box-shadow: 0px 0px 0px #5B5D68;
}

input {
  text-align: center;
  font-size: 30px;
}
.popup{
    width: 400px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%. -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%. -50%) scale(1);
}
.popup img{
    width: 100px;
    margin-top: -50px;
    border-radius: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.popup h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}
.popup button{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #6fd649;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}