body{
    margin: 0;
    padding: 0;}

h2{
    font-size:37px;
    text-align:center;
    border:3px solid #40e0d0;
    width: 400px;
    padding-top:9px;
    padding-bottom: 9px;
    margin:auto;
    margin-top:180px;
    font-family: 'Trebuchet Ms', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background-color: rgba(60, 60, 60);
    color: white;
    opacity: 0.9;
}

form {
    border: 4px;
    font-family: arial;
    width: 400px;
    margin: auto;
    margin-top: 5px;
    color: whitesmoke;
    background-color: rgba(60, 60, 60);
    opacity: o.9;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.container-al46{
    text-align: center;
    padding: 20px;
    padding-bottom: 40px;
}

input[type="text"] , input[type="password"]{
    width: 100%;
    display: inline-block;
    padding: 2px 10px;
    box-sizing: border-b0x;
    margin: 8px 0px;
    background: transparent;
    border:none;
    outline: none;
    border-bottom: 1px solid #ffffff;
    color: whitesmoke;
}

button{
    width: 70%;
    padding: 4px 20px;
    border: none;
    outline: none;
    background-color: #40e0d0;
    color: #ffffff;
}  

button[type=submit]:hover{
    cursor:pointer;
    background-color: #40e0d0;
    color: #ffffff;
}

span.fpw{
    float:left;
    padding:15px;
}

a{
    color: white;}